<% if signed_in? %>
    <% if current_user.admin? %>

<div class="admin">
  <ul class="nav nav-pills">

    <li> <%= link_to t('.new_post'), new_post_path,  :title => "Записей: #{@total_posts}" %></li>
    <li><%= link_to t('.users'), users_path, :title => "Пользователей: #{@total_users}" %></li>
    <li> <%= link_to t('.my_questions'), questions_path, :title => "Вопросов: #{@total_questions}" %></li>
    <li>  <%= link_to t('.my_letters'), letters_path, :title => "Писем: #{@total_letters}" %></li>
  </ul>
</div>
  <br/>

<% else %>
        <div class="alert alert-error">
          <h4 class="alert alert-error">Внимание!</h4>
          У вас нет прав войти в административную область
        </div>
<% end %>
<% end %>