<% if signed_in? %>
    <% if current_user.admin? %>

<div class="admin">
  <ul class="nav nav-pills">
    <li><%= link_to 'Добавить посты', new_post_path %></li>
    <li> <%= link_to 'Пользователи', users_path %></li>
    <li> <%= link_to 'Мои вопросы', questions_path %></li>
    <li>  <%= link_to 'Письма', letters_path %></li>
  </ul>
</div>
  <br/>

<% else %>
        <div class="alert alert-error">
          <h4 class="alert alert-error">Внимание!</h4>
          У вас нет прав войти в административную область
        </div>
<% end %>
<% end %>