<%= render :partial => 'posts' %>

<div class="modal" id="myModel" xmlns="http://www.w3.org/1999/html">
  <div class="modal-header">
    <h3>О проекте</h3>
  </div>
  <div class="modal-body">
   <p> Добро пожаловать в мой блог.  </p>

   <p> Блог разработан на <strong>Ruby on Rails 3</strong> с использованием фреймвoрка <strong>Twitter-bootstrap</strong>, а также <strong>Javascript</strong>.</p>
    <p>Если вам понравился мой блог и вы заинтересовны в моих услугах вы можете <strong><a href="/signup" > Зарегистрироватся и связаться сомной. </a></strong></p>
    <blockquote class="pull-right">

      <p><small>Версия 1.0, 2013 год  </small></p>

    </blockquote>

  </div>
  <div class="modal-footer">
    <a href="/" class="btn">Закрыть</a>

  </div>
</div>