<% @posts.each do |post| %>

    <blockquote>

      <em> Add <%= time_ago_in_words(post.created_at) %> ago.</em>

      <p><%=link_to post.title, post,%></p>


      <small><%= truncate(strip_tags(post.idea), length: 80)  %></small>


    </blockquote>

<% end %>
