
<% if signed_in? %>
    <% if current_user.admin? %>
    <center><h4>Ваши письма</h4></center>
        <hr/>



      <% @letters.each do |letter| %>
            <div class="time_letters">
          <p class="muted">  <%= time_tag letter.created_at %></p>
            </div>
            <div class="index_letters">
            <dl>
              <dt><p class="text-error">Прислал:</p></dt>
              <dd><p class="muted"> <%= letter.fio %></p></dd>
            </dl>
            </div>


            <form class="well form-inline">
            <%= link_to 'Читать', letter, :class=>'btn btn-small' %>
            <%= link_to 'Удалить', letter,:class=>'btn btn-small', method: :delete, data: { confirm: 'Вы уверены?' } %>
            </form>
            <hr/>
      <% end %>


    <br />


<% else %>
    <div class="alert alert-error">
      <h4 class="alert alert-error">Внимание!</h4>
      У вас нет прав войти в административную область

    </div>
<% end %>
    <% end %>

