
<% if signed_in? %>
    <div class="form_comment">
    <div class="field">
    <%= form_tag controller: "comments", actions: "create", :remote => true do %>

          <%= text_area_tag :content, "", size: '100x5' %>

        <%= text_field_tag :post_id, @post.id, style: "display: none;" %><br/>
        <%= submit_tag "Добавить коментарий", :class => 'btn btn-small' %>
    <% end %>
    </div>
    </div>
<% else %>
    <div class="alert alert-error">
      <h4 class="alert alert-error">Предупреждение!</h4>
      Только зарегистрирование пользователи могут оставлять коментарии!
      <a class="btn btn-small" href="/signup">Cоздать профиль</a>
    </div>
<% end %>