<div class="well">

  My accounts in social network:<br/>
  <div class="socil">
  <a href="http://www.vk.com" ><%= image_tag ("vk.png"), :size => '30x30'  %></a>
  <a href="http://www.twitter.com" ><%= image_tag ("twitter.png"), :size => '28x28'  %></a>
  <a href="http://www.facebook.com" ><%= image_tag ("facebook.jpg"), :size => '30x30'  %></a>
  <a href="http://www.google.com" ><%= image_tag ("google.png"), :size => '28x28'  %></a>
  </div>
</div>