<% @posts.each do |post| %>


    <blockquote>


      <p><%=link_to post.title, post%></p>


      <small><%= truncate(strip_tags(post.idea), length: 80)  %></small>

    </blockquote>
    <% if current_user.admin? %>
        | <%= link_to "delete", post, :method => :delete, :confirm => "You sure?",
                      :title => "Delete #{post.idea}" %>
    <% end %>
<% end %>
<% if current_user.admin? %>
<%= link_to 'New Post', new_post_path %>
 <% end %>