/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
/* background */
body {
    background: url(2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.containers{
    width: 850px;
    margin-left: 245px;
    border-radius: 10px;
    padding-top: 20px;
}
/* links */
header {
    text-align: right;
    margin-top: 10px;
    width: 710px;
    margin-left: auto;
    margin-right: auto;
}
header nav {
    float: none;
}
nav {
    float: right;
}
a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}
/* Navigation */
nav {
    float: right;
}

nav {
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}
/* Validate */
.field_with_errors {
    display: inline;
}

.field_with_errors .message {
    color: #D00;
    padding-left: 5px;
    font-size: 12px;
}

/* Users */
ul.users {
    margin-top: 1em;
}

.users li {
    list-style: none;
}
.image_user{
    width: 120px;
    height: 120px;
}
.image_user_all{
    width: 70px;
    height: 70px;
}

/* Post */
.image_post{
    width: 250px;
    height: 200px;
    margin-left: 10px;
}
.counter_comments{
    margin-left: 390px;
    color: #87ceeb;
}
.paginate{
    margin-right: 240px ;
}

/* mini_profile */
.image_mini_profile{
    width: 90px;
    height: 70px;

}
.mini_profile {
    width: 245px;
    height: 160px;
    border-radius: 7px;
    margin-right: 15px;

}
/* Buttons mini_profile */
.button_mini_profile {
    width: 268;
    height: 70;
    margin-left: 30px;

}
.button_signin{
    width: 268;
    height: 70;
    margin-left: 65px;
}
/* Comment */
.image_comment {
    width: 80px;
    height: 80px;
    margin-top: -18px;
    margin-left: -7px;
}
.name{
    margin-left: -110px;

}
.content{
    margin-left: 80px;
    margin-top: -80px;

}
.date{
    margin-left: 140px;
}
.form_comment{
    margin-left: 7px;
}
/* post text */
.title{
    margin-left: 7px;
}
.text{
    margin-left: 7px;
}
/* share */
.like{
    margin-left: 7px;
}
.share{
    margin-left: 450px;
}
/* like */
.likes{
    margin-left: 480px;
}
/* Questions */
.conteiner_ask{
    margin-left: 7px;
}
.delete{
    margin-left: 470px;
}
/* Search */
.search{
    margin-left: 245px;
}
.button{
    margin-top: -38px;
    margin-left: 225px;
}
