<header>
  <ul>
    <% if signed_in? %>
        <% if current_user.admin? %>
        <%= link_to "Admin page", admin_path %>
         <% end %>
    <% end %>
    <a href="/page/contact">Contact</a>
  </ul>
</header>